	body
	{
		font-family: 'Raleway', sans-serif;
		margin:0;
	}
	#container
	{
		width:1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#logo
	{
		background-color:  #8c8c8c;
		color: white;
		text-align: center;
		padding: 13px;
		font-weight: 700;

		}
		nav
		{
			float: left;
			background-color:  #80dfff;
			width: 120px;
			min-height: 610px;
			padding: 30px;

		}
		#content
		{
			float: left;
			padding: 25px;
			width: 550px;
			min-height: 620px;
			background-color: #9A9ABB;
			text-align: justify;
			}

		footer
		{
			clear: both;
			background-color:  #8c8c8c;
		  color: white;
			text-align: center;
			padding: 20px;
		}
		#tabela
		{
			 border-style: solid;
			border:1px;
			cellpadding:2px;
			margin-top:150px;
		}
		.option
		{
			font-size: 18px;
			padding: 10px;

		}
		.option:hover
		{
			background-color: #ccf2ff;
		}
		a:link
		{
			color:black;
			text-decoration: none;
		}
		a:visited
		{
			color:black;
			text-decoration: none;
		}
		a:hover
		{
			background-color: white;
			text-decoration: none;
		}
		aside
		{
			float: left;
			width:200px;
			min-height: 670px;
		}
		figure.obraz
		{
			margin-top: 20px;
			float: left;

		}

		.zlodziejka
		{
			float: left;
			width:200px;
		}

		figure.obraz2
		{
			margin-top: 20px;
			clear:both;
			width:140px;

		}

		.lalka
		{
			display: inline-block;
			width:200px;
		}
